Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: "false"
  AfterClass: "false"
  BeforeElse: "false"
  AfterControlStatement: "false"
  AfterFunction: "false"
  BeforeCatch: "false"
AlignConsecutiveAssignments: "true"
AlignTrailingComments: "true"
AllowAllParametersOfDeclarationOnNextLine: "false"
PointerAlignment: Left
